<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8" />
    <title>Центр «Миротворець»</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Повідомити Центр «Миротворець» про злочинця, найманця, терориста або сепаратиста" />
    <meta name="apple-mobile-web-app-title" content="Report To Myrotvorets" />
    <meta name="application-name" content="Report To Myrotvorets" />
    <meta name="msapplication-TileColor" content="#0056b3" />
    <meta name="theme-color" content="#0056b3" />
    <meta property="og:title" content="Повідомити Центр «Миротворець» про ймовірного злочинця" />
    <meta property="og:description"
        content="Повідомити Центр «Миротворець» про об'єкт, в діях якого містяться явні ознаки скоєння злочинів проти національної безпеки України, миру, безпеки людства та міжнародного правопорядку." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://report.myrotvorets.center/" />
    <meta property="og:image" content="https://psb4ukr.natocdn.net/logos/psb4ukr-1200x630.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="uk_UA" />
    <meta property="og:site_name" content="Повідомити про злочинця" />
    <meta property="og:video" content="https://psb4ukr.natocdn.net/myrotvorets.mp4" />
    <link rel="icon" type="image/png" href="<%= require('./assets/logo32.png') %>"/>
    <link rel="apple-touch-icon" href="<%= require('./assets/logo192w.png') %>"/>
    <link rel="manifest" href="<%= require('./manifest.json') %>" />
    <style>
        <%- require('!!css-loader?esModule=false!sass-loader!./components/App/critical.scss') _%>
    </style>
</head>

<body>
    <header class="site-header">
        <h1><a href="/">«Миротворець»</a></h1>
        <h2>
            Центр дослідження ознак злочинів проти національної безпеки України, миру, безпеки людства та
            міжнародного правопорядку
        </h2>
    </header>

    <nav class="NavBar">
        <label class="nav__btn" for="navcb">
            <svg width="34" height="34">
                <path d="M0 28.332h34v-3.777H0zm0-9.441h34v-3.782H0zM0 5.668v3.777h34V5.668" stroke="#FFF" fill="#FFF" />
            </svg>
        </label>
        <input type="checkbox" autocomplete="off" id="navcb" class="nav__cb" />
        <ul class="nav__menu">
            <li class="nav__menuitem"><a href="/">Головна</a></li>
            <li class="nav__menuitem"><a href="/login">Увійти</a></li>
            <li class="nav__menuitem nav__menuitem--has-children">
                <a href="#">Взаємодія</a>
                <ul class="nav__submenu">
                    <li class="nav__menuitem">
                        <a href="https://myrotvorets.center/about/" target="_blank" rel="noopener">Про Центр</a>
                    </li>
                    <li class="nav__menuitem">
                        <a href="https://myrotvorets.center/about/zlochini/" target="_blank" rel="noopener">Перелік злочинів, що досліджуються Центром</a>
                    </li>
                    <li class="nav__menuitem">
                        <a href="https://myrotvorets.center/contacts/" target="_blank" rel="noopener">Про взаємодію та співпрацю з Центром</a>
                    </li>
                    <li class="nav__menuitem">
                        <a href="https://myrotvorets.center/skarga/" target="_blank" rel="noopener">Порядок подання скарг</a>
                    </li>
                </ul>
            </li>
            <li class="nav__menuitem nav__menuitem--has-children">
                <a href="#">Наші проекти</a>
                <ul class="nav__submenu">
                    <li class="nav__menuitem"><a href="https://myrotvorets.center/" target="_blank" rel="noopener">Миротворець</a></li>
                    <li class="nav__menuitem"><a href="https://identigraf.center/" target="_blank" rel="noopener">IDentigraF</a></li>
                    <li class="nav__menuitem"><a href="https://myrotvorets.news/" target="_blank" rel="noopener">Myrotvorets.NEWS</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <main>
        <noscript>
            <div style="display: flex; flex-direction: column; flex: 1; height: 100%; justify-content: center">
                <div style="border-color: #B50000; border-radius: 5px; margin: 1rem auto; width: 80%; background: #A80000; color: #FFFF52; padding: 2rem; text-align: center; font: bold 2rem/1.5 Arial, sans-serif;">
                    Для нормальної роботи сайту потрібно JavaScript
                </div>
            </div>
        </noscript>
        <div style="display: none; flex-direction: column; flex: 1; height: 100%; justify-content: center" id="not-supported">
            <div style="border-color: #B50000; border-radius: 5px; margin: 1rem auto; width: 80%; background: #A80000; color: #FFFF52; padding: 2rem; text-align: center; font: bold 2rem/1.5 Arial, sans-serif;">
                На жаль, ваш браузер не підтримується. Спробуйте оновити його та повторіть спробу
            </div>
        </div>
        <p>Завантаження web-додатка…</p>
    </main>

    <footer class="site-footer">
        <p>Copyright &copy; 2021 <a href="https://myrotvorets.center/">Myrotvorets Research Center</a></p>
        <p>
            <span id="version"><%= version %></span>
            &nbsp;<a href="mailto:support@myrotvorets.center">Щось не працює?</a>
        </p>
    </footer>
    <script nomodule="nomodule">var x=document.getElementById('not-supported');if(x)x.style.display='flex';</script>
</body>

</html>